<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, innitial-scale=1.0" />
  <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css" />
  <link rel="icon" type="image/png" href="assets/images/icon.png" />
  <link rel="stylesheet" type="text/css" href="assets/css/wc3.css" />
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/landing_page.css" />
  <title>School App | <%= title %></title>
</head>
