
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    padding: 15px;
}
tr{
    border-bottom:1px solid #f2f9fe
}

input {
    border: none;
    border-bottom: 2px solid gray;
    text-align: center;
    outline: none;
}

.cell {
    width: 95%;
}

form input:hover {
    color: rgb(77, 96, 189);
    border-bottom: 2px solid rgb(77, 96, 189);
}

form input:focus {
    color: orangered;
    border-bottom: 2px solid rgb(77, 96, 189);
}

hr {
    width: 75%;
}

.tdCell {
    width: 150px;
    height: 50px;
}

.button {
    color: white;
    background-color: #555555;
    text-align: center;
    padding: 10px 15px;
    margin: 4px 2px;
    border: none;
    border-radius: 2px;
    border-bottom: 5px solid green;
}

.button:focus {
    color: white;
    border-bottom: 5px solid green;
}

.button:hover {
    color: white;
    position: relative;
    top: -5px;
}

.button:disabled {
    background-color: #555555;
    border-bottom: 5px solid red;
}