<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Att | <%= title %></title>
    <link rel="stylesheet" href="/css/rollCallStyle.css" />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/jquerysctipttop.css" />
  </head>
  <body>
    <div class="container" id="app" style="display: none">
      <!-- <div
        class="modal fade"
        id="saveModal"
        tabindex="-1"
        aria-labelledby="saveModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" id="header">
              <h5 class="modal-title" id="saveModalLabel">Description :</h5>
            </div>

            <form>
              <div class="modal-body">
                <textarea placeholder="Type Here..."></textarea>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">
                  Close
                </button>
                <button type="submit" class="btn" id="send">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div> -->
    </div>

    <div class="container" id="app1" style="display: none"></div>

    <!-- <div style="width: 100%;height: 100vh;background-color: grey;"></div> -->

    <script src="js/jquery-3.5.1.slim.min.js"></script>

    <script src="js/jquery-1.12.4.min.js"></script>

    <script src="js/popper.min.js"></script>

    <script src="js/bootstrap.min.js"></script>

    <script src="js/jsLocalSearch.js"></script>

    <script type="module" src="js/rollCalljs.js"></script>
  </body>
</html>
