<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Att | <%= title %></title>
    <link rel="stylesheet" href="/css/rollCallStyle.css" />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/jquerysctipttop.css" />
  </head>
  <body>
    <div class="container" id="app"></div>

    <script src="js/jquery-3.5.1.slim.min.js"></script>

    <script src="js/jquery-1.12.4.min.js"></script>

    <script src="js/popper.min.js"></script>

    <script src="js/bootstrap.min.js"></script>

    <script src="js/jsLocalSearch.js"></script>

    <script type="module" src="js/rollCalljs.js"></script>
  </body>
</html>
