<!DOCTYPE html>
<html>
  <%- include('partials/authHeader.ejs') -%>

  <body>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <img src="assets/images/student-21.png" alt="..." />
        </div>
      </div>
    </div>

    <div id="container">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand">
            <img src="assets/images/icon.png" alt="" width="30" height="24" />
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fa fa-bars" style="color: white; font-size: 24px"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto p-2 bd-highlight">
              <a class="nav-link" id="signupLink" onclick="displaySignup()">Sign Up</a>
              <a class="nav-link" id="loginLink" onclick="displayLogin()">Log In</a>
            </div>
          </div>
        </div>
      </nav>

      <div class="container container-slidetext container-slidetext-t" id="container-slidetext">
        <div id="carouseSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="4000">
              <p id="p1">Welcome to the future</p>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
              <p id="p2">Your future depend on what you do now</p>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
              <p id="p3">Don't spend your time on irrelevant thing</p>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
              <p id="p4">The real magic is work...</p>
            </div>
          </div>
        </div>
      </div>
      <!--container slidetext-->

      <div
        class="container container-signup container-signup-s"
        id="container-signup"
        style="display: none"
      >
        <div class="w3-container">
          <div class="w3-round-large w3-animate-top">
            <div class="card" id="card">
              <div><i class="fa fa-close" id="close1"></i></div>
              <div class="card-body">
                <div class="card-title text-center mb-5 head">
                  <h3>Sign In</h3>
                </div>

                <form class="form">
                  <div class="form-group mb-5">
                    <i class="fa fa-user iconU iconU-u"></i>
                    <input
                      type="text"
                      class="text-center w-100"
                      id="username"
                      name="username"
                      autocomplete="off"
                      placeholder="Username..."
                    />
                  </div>

                  <div class="form-group mb-5">
                    <i class="fa fa-lock iconP iconP-p"></i>
                    <input
                      type="password"
                      class="text-center w-100"
                      id="password"
                      name="password"
                      placeholder="Password..."
                    />
                  </div>
                  <br />

                  <div class="d-grid gap-2 mb-5 submit">
                    <button class="btn rounded-3 signup" type="submit" id="signup">Sign In</button>
                  </div>
                </form>
              </div>
              <!-- div card-body -->
            </div>
            <!-- div whole card -->
          </div>
        </div>
        <!-- w3 animated container signup -->
      </div>
      <!--container signup-->

      <div
        class="container container-login container-login-l"
        id="container-login"
        style="display: none"
      >
        <div class="w3-container">
          <div class="w3-round-large w3-animate-top">
            <div class="card" id="card">
              <div><i class="fa fa-close" id="close2"></i></div>
              <div class="card-body">
                <div class="card-title text-center mb-5 head">
                  <h3>Log In</h3>
                  <br /><br />
                  <div class="error text-center" id="logInError"></div>
                </div>

                <form class="form" id="logInForm">
                  <div class="form-group mb-5">
                    <i class="fa fa-user iconU iconU-u"></i>
                    <input
                      type="text"
                      class="text-center w-100"
                      id="login_id"
                      name="_id"
                      autocomplete="off"
                      placeholder="User ID"
                      required
                    />
                  </div>

                  <div class="form-group mb-4">
                    <i class="fa fa-lock iconP iconP-p"></i>
                    <input
                      type="password"
                      class="text-center w-100"
                      id="login_password"
                      name="password"
                      placeholder="Password..."
                      required
                    />
                    <i class="fa fa-eye iconP iconP-p" id="loginTogglePass"></i>
                  </div>

                  <div class="form-check mb-5 remember">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" /> Remember Me
                    </label>
                  </div>

                  <div class="d-grid gap-2 mb-5 submit">
                    <button class="btn rounded-3 signup" type="submit" id="loginBtn">Log In</button>
                  </div>
                </form>
              </div>
              <!-- div card-body -->
            </div>
            <!-- div whole card -->
          </div>
        </div>
        <!-- w3 animated container signup -->
      </div>
      <!--container login-->
    </div>
    <!--container navbar,slidetext,signup,login-->

    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">
      close1 = document.querySelector("#close1");
      close1.addEventListener("click", function () {
        signupContainer = document.getElementById("container-signup");
        text = document.getElementById("container-slidetext");
        signupLink = document.getElementById("signupLink");
        loginLink = document.getElementById("loginLink");
        signupContainer.style.display = "none";
        text.style.width = "100%";
        signupLink.style.fontSize = "21px";
        loginLink.style.fontSize = "21px";
        signupLink.style.color = "white";
      });

      close2 = document.querySelector("#close2");
      close2.addEventListener("click", function () {
        loginContainer = document.getElementById("container-login");
        text = document.getElementById("container-slidetext");
        loginLink = document.getElementById("loginLink");
        signupLink = document.getElementById("signupLink");
        loginContainer.style.display = "none";
        text.style.width = "100%";
        loginLink.style.fontSize = "21px";
        signupLink.style.fontSize = "21px";
        loginLink.style.color = "white";
      });

      function displaySignup() {
        text = document.getElementById("container-slidetext");
        signupContainer = document.getElementById("container-signup");
        loginContainer = document.getElementById("container-login");
        signupLink = document.getElementById("signupLink");
        loginLink = document.getElementById("loginLink");
        close = document.getElementById("close");
        p1 = document.getElementById("p1");
        p2 = document.getElementById("p2");
        p3 = document.getElementById("p3");
        p4 = document.getElementById("p4");
        text.style.width = "45%";
        signupContainer.style.display = "block";
        signupContainer.style.width = "45%";
        loginContainer.style.display = "none";
        signupLink.style.color = "#008778";
        signupLink.style.fontSize = "21px";
        loginLink.style.color = "white";
        loginLink.style.fontSize = "18px";
        x = window.matchMedia("(max-width: 570px)");
        responsive(x);
        x.addListener(responsive);

        function responsive(x) {
          if (x.matches) {
            text.style.width = "100%";
            signupContainer.style.width = "100%";
          } else {
            text.style.width = "45%";
            signupContainer.style.width = "45%";
          }
        }
      }

      function displayLogin() {
        text = document.getElementById("container-slidetext");
        loginContainer = document.getElementById("container-login");
        signupContainer = document.getElementById("container-signup");
        loginLink = document.getElementById("loginLink");
        signupLink = document.getElementById("signupLink");
        close = document.getElementById("close");
        p1 = document.getElementById("p1");
        p2 = document.getElementById("p2");
        p3 = document.getElementById("p3");
        p4 = document.getElementById("p4");
        text.style.width = "45%";
        loginContainer.style.display = "block";
        loginContainer.style.width = "45%";
        signupContainer.style.display = "none";
        loginLink.style.color = "#008778";
        loginLink.style.fontSize = "21px";
        signupLink.style.color = "white";
        signupLink.style.fontSize = "17px";
        x = window.matchMedia("(max-width: 570px)");
        responsive(x);
        x.addListener(responsive);

        function responsive(x) {
          if (x.matches) {
            text.style.width = "100%";
            loginContainer.style.width = "100%";
          } else {
            text.style.width = "45%";
            loginContainer.style.width = "45%";
          }
        }
      }
    </script>

    <script defer>
      let loginTogglePass = document.querySelector("#loginTogglePass");
      loginTogglePass.addEventListener("click", (e) => {
        let passInput = e.target.parentNode.querySelector("input");

        if (passInput.type == "password") {
          passInput.type = "text";
          e.target.classList.remove("fa-eye");
          e.target.classList.add("fa-eye-slash");
        } else {
          passInput.type = "password";
          e.target.classList.remove("fa-eye-slash");
          e.target.classList.add("fa-eye");
        }
      });
    </script>

    <script defer>
      document.querySelector("#logInForm").addEventListener("submit", async (e) => {
        e.preventDefault();

        let logInForm = document.querySelector("#logInForm");
        let errorDiv = document.querySelector("div#logInError");
        errorDiv.innerHTML = "";

        let logInResponse = await (
          await fetch("/login", {
            method: "POST",
            headers: {
              "Content-Type": "application/json;charset=utf-8",
            },
            body: JSON.stringify({
              _id: logInForm.querySelector("#login_id").value,
              password: logInForm.querySelector("#login_password").value,
            }),
          })
        ).json();

        if (logInResponse.error) {
          errorDiv.innerHTML = `<p>${logInResponse.error}</p>`;
        } else if (logInResponse.accountType) {
          logInForm.action = "/userDashboard";
          logInForm.method = "POST";
          logInForm.submit();
        }
      });
    </script>

    <% if(login){ %>
    <script>
      displayLogin();
    </script>
    <% } %>
  </body>
</html>
