<html lang="en">
  <%- include('partials/authHeader.ejs') -%>

  <body>
    <!--container login-->
    <div class="container container-login container-login-l" id="container-login">
      <div class="w3-container">
        <div class="w3-round-large w3-animate-top">
          <div class="card" id="card">
            <div class="card-body">
              <div class="card-title text-center mb-5 head">
                <h3>Log In</h3>
              </div>

              <form name="logInForm" action="/login" method="POST">
                <div class="form-group mb-5">
                  <i class="fa fa-user iconU iconU-u"></i>
                  <!-- <input type="text" class="text-center w-100" id="username" name="username" autocomplete="off" placeholder="Username..."> -->
                  <input
                    type="text"
                    class="text-center w-100"
                    placeholder="User ID"
                    name="_id"
                    required
                  />
                  <div class="_id error"></div>
                </div>

                <div class="form-group mb-4">
                  <i class="fa fa-key iconP iconP-p"></i>
                  <input
                    type="password"
                    class="text-center w-100"
                    id="password"
                    name="password"
                    placeholder="Password..."
                  />
                  <div class="password error"></div>

                  <input
                    class="input-field"
                    type="text"
                    name="platform"
                    value="web"
                    style="display: none"
                  />
                </div>

                <div class="form-check mb-5 remember">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" /> Remember Me
                  </label>
                </div>

                <div class="d-grid gap-2 mb-5 submit">
                  <button class="btn rounded-3" type="submit" id="loginBtn">Log In</button>
                </div>
              </form>
            </div>
            <!-- div card-body -->
          </div>
          <!-- div whole card -->
        </div>
      </div>
      <!-- w3 animated container signup -->
    </div>
  </body>

  <%- include('partials/authFooter.ejs') -%>
</html>
