<h1>signUp</h1>

<form action="login" method="POST">
    <input class="input-field" type="text" placeholder="User ID" name="_id" /><br><br>
    <input class="input-field" type="text" placeholder="User Name" name="name" /><br><br>
    <input type="submit" value="submit">
</form>