#header{
	background-color: #0a4c9b;
	color: white;
	height: 95px;
}

div#class{
	font-size: 17px;
	text-align: center;
}

#classb{
	font-size: 25px;
	text-align: center;
	margin-top: 10px;
}

#specb{
	border-radius: 15px;
	background-color: #0a4c9b;
	color: white;
	margin-bottom: 10px;
	padding: 12px;
}

#specb2{
	border-radius: 15px;
	background-color: #0a4c9b;
	color: white;
	margin-bottom: 10px;
	padding: 12px;
}

.left{
	width: 50%
}

.right{
	width: 50%;
	float: right;
}

.left,.right{
	display: inline-block;
	padding: 5px;
}

#remark{
	width: 20%;
	float: right;
}

.container{
	border: 1px solid black;
	padding: 15px 15px;
	margin-top: 1%;
}

#send{
	border-radius: 15px;
	background-color: #0a4c9b;
	color: white;
}

#save{
	border-radius: 15px;
	background-color: #0a4c9b;
	color: white;
	width: 40%;
	height: 6vh;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

#speciality{
	background-color: #0a4c9b;
	color: white;	
	margin-top: 3px;
	margin-bottom: 15px;
}

#specB{
	background-color: #0a4c9b;
	color: white;
	font-size: 17px;
	width: 90%;
	padding: 9px 9px;
	border-radius: 15px;
}

#specB,i{
	display: inline-block;
}

li i{
	position: relative;
	left: 4%;
	color: #0a4c9b;
	cursor: pointer;
}

#stat{
	background-color: #0a4c9b;
	margin-top: 25px;
	margin-bottom: 25px;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	width: 20%;
	border-radius: 15px;
}

#viewStatTable th{
	background-color: #0a4c9b;
	color: white;
}

#viewStatTable{
	text-align: center;
}

.color{
	width: 35px;
	height: 35px;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

#color1{
	background-color: orange;
}

#color2{
	background-color: green;
}

#color3{
	background-color: red;
}

#color4{
	background-color: yellow;
}

#close{
	border-radius: 15px;
}

#specB1{
	background-color: #0a4c9b;
	color: white;
	margin-bottom: 15px;
	outline: none;
	cursor: context-menu;
	border-radius: 0px;
}

#specB2{
	background-color: #0a4c9b;
	color: white;
	border-radius: 15px;
	margin-bottom: 15px;
}

#forward{
	background-color: #0a4c9b;
	color: white;
	border-radius: 15px;
}

#delete{
	background-color: #0a4c9b;
	color: white;
	border-radius: 15px;
	float: right;
}

#headerSpec,#headerDate{
	display: inline-block;
}

div#headerSpec{
	position: relative;
	left: 73%;
}

#cardFooter{
	background-color: #ffffff;

}

textarea{
	width: 100%;
	height: 40vh;
}

#gsearch{
	height: 7vh;
}

#fsearch{
	height: 7vh;
}

.si{
    color: red;
}

@media screen and (max-width: 250px){
	#specB,#stat{
		width: 35vw;
		font-size: 13px;
	}
} 

/*@media screen and (max-width: 400px){
	#specB{
		width: 58vw;
		font-size: 14px;
	}

	#stat{
		width: 25%;
		font-size: 14px;
	}
} */

/*@media screen and (max-width: 300px){
	#specB,#stat{
		width: 42vw;
		font-size: 13px;
	}
}*/


@media screen and (max-width: 300px){
	#date,#dot{
		font-size: 13px;
	}

	#date{
		width: 1%;
	}

	#remark{
		width: 100%;
	}

	div#headerSpec{
		position: relative;
		left: 45vw;
		font-size: 4vw;
		width: 10%;
	}

	#headerDate{
		font-size: 4vw;
		width: 10%;
	}

	#delete{
		position: relative;
		left: 27vw;
	}
}

#dropdownSpeciality{
	padding: 10px 10px;
}

#dropdownSpeciality:hover{
	background-color: #0a4c9b;
	color: white;
}

a.actif{
	background-color: #0a4c9b;
	padding: 10px 10px; 
	color: white;
}