.table-scroll {
  position: relative;
  width: 100%;
  z-index: 1;
  margin: auto;
  overflow: auto;
  height: 700px;
}
.table-scroll table {
  width: 100%;
  height: 100%;
  min-width: 1280px;
  margin: auto;
}

.table-scroll th,
.table-scroll td {
  vertical-align: top;
}
.table-scroll thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/* safari and ios need the tfoot itself to be position:sticky also */
.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 4;
}

th:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 4;
}

thead th,
tfoot th {
  z-index: 5;
}

thead th:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 6;
}

th.sideFixed {
  background-color: white;
}
