input.displayPeriod {
  text-align: center;
  border: none;
  background-color: white;
}

th.w3-small {
  background-color: rgb(28, 8, 99);
  color: white;
}

th.today {
  background-color: rgb(18, 211, 44);
  color: white;
}
