/* theme colors: #08303d
 background-color: #0a0a23; // for dark theme */

th,
tr,
td {
  border: 1px solid rgb(185, 185, 185);
  text-align: center;
  padding: 15px;
}

body {
  background-color: white;
}

div.ttDiv {
  background: #eaeae1;
}

table.timetable {
  background-color: white;
  border: none;
  border-collapse: collapse;
  border-bottom: 5px solid #0a4c9b;
}

table.coordTT {
  border: none;
  border-collapse: separate;
}

table.coordTT th,
table.coordTT td {
  border: 1px solid black;
  text-align: center;
}

input.programTT_input {
  border: none;
  border-bottom: 2px solid gray;
  text-align: center;
  outline: none;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type="text"].programTT_input:disabled {
  border: none;
  background-color: white;
  border-bottom: 2px solid rgb(191, 0, 0);
}

input.periodTime,
input.displayPeriod {
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none; /* very important so that the weird border doesn't appear on click */
}

input[type="time"]:disabled {
  border: none;
  background-color: white;
  border-bottom: 2px solid gray;
}

.button {
  color: #08303d;
  background-color: white;
  text-align: center;
  padding: 10px 15px;
  margin: 4px 2px;
  border-radius: 4px;
  border: 2px solid #08303d;
}

.button:hover {
  color: white;
  background-color: #08303d;
  border: 2px solid #eee;
  /* position: relative;
  top: -5px; */
}

.button:disabled {
  color: #555555;
  border-bottom: 5px solid red;
}

.button:hover:disabled {
  color: red;
}

a.paginationButton {
  cursor: pointer;
  border: 5px solid #eee;
  transition: transform 0.2s; /* Animation */
  border-radius: 5px;
  margin: 0 auto;
}

a.paginationButton:hover {
  cursor: pointer;
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

td.period {
  cursor: pointer;
  transition: transform 0.2s; /* Animation */
  margin: 0 auto;
}

td.period:hover {
  cursor: pointer;
  /* transform: scale(
    1.5
  ); (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  border: 5px solid skyblue;
  border-radius: 5px;
}

th.w3-small {
  background-color: #0a4c9b;
  border-color: white;
  color: white;
}

th.today {
  background-color: #2196f3;
  border-color: white;
  color: white;
}

div.navSection {
  position: sticky;
}

div.nav-item {
  display: none;
}

a.navLink:hover {
  cursor: pointer;
}

.ownNav {
  overflow: hidden;
  background-color: transparent;
}

a.navLink {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

a.navLink:hover {
  color: #2196f3;
  /* border-bottom: 3px solid red; */
}

a.navLink.active {
  border-bottom: 3px solid #2196f3;
}

.switch {
  position: relative;
  display: inline-block;
  height: 1.5em;
  width: 3em;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Popup container - can be anything you want */
.programPopup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.programPopup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.programPopup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.programPopup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 8s 2.5s;
  animation: fadein 0.5s, fadeout 8s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

div.modal {
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 35%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #0a4c9b;
  color: white;
  text-align: center;
}

.modal-body {
  padding: 2px 16px;
  text-align: left;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #0a4c9b;
  color: white;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.toCenter {
  display: grid;
  place-items: center;
}

input[type="search"].search {
  border-radius: 4px;
  width: 25%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type="search"].search:focus {
  width: 100%;
}

input[type="text"].AttshortNote {
  background-color: transparent;
  outline: none;
  border: none;
  width: 20%;
  text-align: center;
  border-bottom: 2px solid #08303d;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type="text"].AttshortNote:focus {
  width: 45%;
  border-bottom: 2px solid #2196f3;
}

.myAccordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.AccActive,
.myAccordion:hover {
  background-color: #ccc;
}

.myAccordion:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.AccActive:after {
  content: "\2212";
}

.AccPanel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
