* {
  box-sizing: border-box;
}

:root {
  --theme-color: #0a4c9b;
}

nav div.container-fluid {
  width: 100%;
}

nav div.container-fluid ul.navbar-nav li.nav-item a.nav-link {
  color: white;
  font-size: 16px;
}

nav div.container-fluid ul.navbar-nav li.active {
  color: white;
  font-size: 16px;
  border-bottom: 4px solid grey;
}

nav div.container-fluid ul.navbar-nav li.nav-item:hover {
  border-bottom: 4px solid grey;
}

div.w3-row {
  margin-top: 2rem;
  height: 100%;
}

div.w3-quarter {
  margin-top: 2rem;
}

div.dropdown ul.dropdown-menu li a:hover {
  background-color: var(--theme-color);
  color: white;
}

div.notice {
  background: var(--theme-color);
  color: white;
  border-radius: 10px;
  margin-top: 5%;
}

div p {
  font-size: 16px;
  font-family: "Poppins";
}

div p.mt-4 span {
  font-weight: bold;
}

/*Available Timetable*/
div.TT {
  width: 100%;
}

div.TT div h1 {
  font-family: "Poppins";
}

div.TT div.w3-small {
  font-weight: bold;
  margin-bottom: 0.3rem;
  margin-top: 18px;
}

div.TT div.w3-card thead {
  background: var(--theme-color);
  color: white;
  border-radius: 15px;
}

div.TT div.w3-card {
  border-radius: 15px;
}

div.TT div.w3-card thead th.w3-small {
  height: 45px;
}

div.TT div.w3-card table {
  text-align: center;
}

@media screen and (max-width: 578px) {
  div.TT {
    width: 100%;
    margin-right: 5%;
    margin-left: 0;
  }

  div.TT div.w3-card {
    overflow: auto;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-color);
}

div.progTime div.w3-round-large div.w3-container div.switchDrop {
  display: inline-flex;
  align-items: center;
}

div.progTime div.w3-round-large div.w3-container div.switchDrop div.dropdown {
  padding-right: 9px;
}
